body {
    background-image: url(https://static4.depositphotos.com/1000263/342/v/600/depositphotos_3420291-stock-illustration-number-clock-counter.jpg);
}

#main {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTKC2zInFtxeCRIKzwmMM9VeKt5z8toIci7rA&usqp=CAU);
    height: 250px;
    width: 300px;
    border: black solid 5px;
    border-radius: 2px;
    position: absolute;
    left: 50%;
    text-align: center;
    margin-left: -125px;
}
#calcbutton {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: aquamarine;
    font-size: 16px;
    cursor: pointer;
    border: lightgoldenrodyellow, 12px, solid;
    border-radius: 1px;
}