body {
    background-color: lightcyan;
    background-image:url('https://media1.giphy.com/media/lgcUUCXgC8mEo/100.webp?cid=36b14facpfog9i5xrupn5d9770i8meouov63uokrc09jv3un&rid=100.webp&ct=g'); background-repeat:repeat;
    border: lightcyan, ;
    align-items: ;
}